.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  background-color: #f2f4f7;
  border-bottom: 1px solid #f2f4f7;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 32px;
}

.navigation li a {
  text-decoration: none;
  font-weight: 500;
  color: #101828;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

.navigation li a:hover,
.navigation li a:focus,
.navigation li a:active {
  color: #0b44cd;
}

.svgLogo {
  fill: #3470ff;
}
