.customSelectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.chevronIcon {
  position: absolute;
  right: 18px;
  width: 20px;
  height: 20px;
  pointer-events: none; /* Щоб клік працював по селекту */
  fill: none;
  stroke: #121417; /* Колір з макету */
}

/* Прибираємо стандартну стрілку браузера */
.selectBrand,
.selectPrice {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 14px 18px;
  border-radius: 14px;
  background-color: #f7f7fb;
  border: none;
}

.mileageContainer {
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* Статичний текст "From" та "To" */
.inputPrefix {
  position: absolute;
  left: 18px;
  font-size: 18px;
  line-height: 1.11;
  color: #121417; /* Основний колір тексту */
  pointer-events: none;
}

.mileageInputLeft,
.mileageInputRight {
  width: 160px;
  height: 48px;
  padding: 14px 18px 14px 70px; /* Великий відступ зліва, щоб текст не налізав на "From/To" */
  background-color: #f7f7fb;
  border: none;
  font-size: 18px;
  outline: none;
}

/* Склеюємо інпути: прибираємо радіуси з внутрішніх сторін */
.mileageInputLeft {
  border-radius: 14px 0 0 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2); /* Тонка лінія розділювач */
}

.mileageInputRight {
  border-radius: 0 14px 14px 0;
}
