.container {
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 84px;
  margin-bottom: 56px;
}

.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #8d929a;
}

.optionBrand {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.customSelectWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.chevronIcon {
  position: absolute;
  right: 14px;
  width: 16px;
  height: 16px;
  fill: #121417;
  pointer-events: none;
}

.selectBrand,
.selectPrice {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 14px;
  padding: 12px 16px;
  width: 204px;
  height: 44px;
  background: #f7f7f7;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  cursor: pointer;
}

.selectBrand option,
.selectPrice option {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.mileageContainer {
  display: flex;
  align-items: stretch;
  gap: 0;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputPrefix {
  position: absolute;
  left: 24px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  pointer-events: none;
}

.mileageInputLeft,
.mileageInputRight {
  width: 90px;
  height: 44px;
  padding: 0px 0px 0px 70px;
  background-color: #f7f7f7;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  outline: none;
}

.mileageInputLeft {
  border-radius: 14px 0 0 14px;
  border-right: 1px solid rgba(138, 138, 137, 0.2);
}

.mileageInputRight {
  border-radius: 0 14px 14px 0;
  padding: 0px 0px 0px 50px;
  width: 110px;
}

.searchBtn {
  align-self: last baseline;
  height: 44px;
  padding: 12px 51px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: #3470ff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 250 linear;
}

.searchBtn:hover {
  background-color: #0b44cd;
}
