.container {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 1100px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
