body {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fff;
}

html,
body {
  height: 100%;
}

main {
  flex: 1;
}
