.main {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0px auto;
  position: relative;
  z-index: 2;
  height: 100%;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 16px;
  padding-top: 436px;
}

.hero {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.heroImage {
  object-fit: cover;
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 0;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin: 0px;
  margin-bottom: 16px;
}

.description {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #fff;
  margin: 0px;
  margin-bottom: 40px;
}

.homeBtn {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  border-radius: 12px;

  width: 276px;
  height: 44px;
  background: #3470ff;
  border: none;
  cursor: pointer;

  transition: background-color 250ms linear;
}

.homeBtn:hover {
  background-color: #0b44cd;
}
