.app {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
  flex: 1;
}

.loadMoreBtn {
  margin-top: 80px;
  padding: 12px 51px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  border: 1px solid #3470ff;
  background-color: transparent;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 250 ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loadMoreBtn:hover {
  background-color: #0b44cd;
  color: #fff;
}
